@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url(https://calm-ui.netlify.app/css/main.css);




.auth-container {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

.badge-icon{
    font-size: 2.4rem;
  }
  
  .search-bar{
    width:25%;
  }